<nav class="navbar navbar-light" style="background-color: #FFFFFF;">
  <form class="form-inline float-xs-right">
    <a class="btn btn-outline-success" href="<%= new_user_path %>" role="button">Sign Up</a>
    <a class="btn btn-outline-success" href="<%= login_path %>" role="button">Login</a>
  </form>
</nav>
