<div class="jumbotron" style="background-color: transparent; font-family: Quicksand;">

  <nav class="navbar navbar-light" style="background-color: transparent; font-family: Quicksand;">
    <form class="form-inline float-xs-right">
      <a class="btn btn-secondary" href="<%= new_user_path %>" role="button">Sign Up</a>
      <a class="btn btn-secondary" href="<%= login_path %>" role="button">Login</a>
    </form>
  </nav>

    <h1 class="display-3" style="font-family: Quicksand ;">ODDTER</h1>
    <p class="lead" style="font-family: Quicksand ;">Your snarky event planning otter.</p>
  <hr class="my-2">
</div>
