<div class="row" style="font-family: Quicksand;">
  <div class="col-md-6" style="padding-top:50px;  padding-left:150px;">
  <% @events.each do |event| %>
    <% if event.past_date != true  %>
      <h2>Your hosting events: </h2>
      <%= event %>
    <% else %>
      <h2>Events you've hosted:</h2>
      <%= event %>
    <% end %>
  <% end %>
  </div>
</div>

<% @hosted_events.each do |event| %>
<ul><%= event.name %></ul>
<% end %>